.container {
  padding: 0 20px 0 20px;
}

.header {
  display: flex;
  height: 56px;
  background: #252733;
}

.header p {
  font-size: 20px;
  color: var(--white);
  padding: 13px 0 0 10px;
}

.divArrowBackIos {
  padding: 18px 10px 0 20px;
}

.MdArrowBackIos {
  color: var(--white);
  margin-left: 20px;
}

.container_search_filter {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 30px;
  gap: 30px;
}

.div_input_search {
  width: 280px;
  height: 45px;
}

.input_search {
  width: 295px;
  height: 48px;
  font-size: 14px;
  border-radius: 6px;
  color: #445371;
  text-decoration: none;
  border: 2px solid rgba(68, 83, 113, 0.15);
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) inset;
}

.filter {
  width: 295px;
  height: 48px;
  font-size: 14px;
  border-radius: 6px;
  color: #445371;
  text-decoration: none;
  border: 2px solid rgba(68, 83, 113, 0.15);
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) inset;
}

.btn_add {
  width: 183px;
  height: 45px;
  font-size: 14px;
  border-radius: 3px;
  color: #445371;
  text-decoration: none;
  border: 2px solid rgba(68, 83, 113, 0.15);
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) inset;
}

.btn_add:hover {
  color: #fff;
  background: #196fad;
}

table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  position: relative;
}

table th {
  background: #196fad;
  padding: 10px 20px;
  border-bottom: 1px solid;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  height: 46px;
  white-space: nowrap;
}

table td {
  padding: 10px 20px;
  color: #212121;
  font-size: 16px;
  font-weight: 400;
  height: 30px;
  text-align: left;
  border-bottom: 1px dotted #ccc;
}

.table_user {
  margin: 0 auto;
}

.icon_edit {
  font-size: 20px;
  display: inline-block;
}

.icon_delete {
  display: inline-block;
  cursor: pointer;
  font-size: 25px;
}

tr:nth-of-type(2n) {
  background: var(--table-even);
}

table p {
  text-align: center;
}

.statusProject {
  white-space: nowrap;
}

/* Стили для кнопки подробнее */
.HiEllipsisHorizontal {
  font-size: 25px;
  cursor: pointer;
}

.popover-content {
  position: absolute;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  right: 0;
}
.div_edit {
  width: 213px;
  height: 40px;
  cursor: pointer;
  margin: 0 auto;
  padding-top: 8px;
  color: #9ba4b4;
}
.div_edit p {
  color: #9ba4b4;
}
.div_edit:hover {
  background: rgba(25, 111, 173, 0.05);
}

.div_delete {
  width: 213px;
  height: 40px;
  cursor: pointer;
  margin: 0 auto;
  padding-top: 8px;
  color: #9ba4b4;
}

.div_delete:hover {
  background: rgba(25, 111, 173, 0.05);
}

.div-popover-content {
  padding: 8px;
}

@media screen and (max-width: 1183px) {
  table {
    border: 0;
  }

  table thead {
    display: none;
  }

  table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  table td {
    display: block;
    text-align: center;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
    border-right: 1px solid transparent;
  }

  table td:last-child {
    border-bottom: 0;
  }

  table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
}

/* Добавление и редактирование сотрудников */

.pade {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 600px;
  height: max-content;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 32px 32px 0px rgba(68, 83, 113, 0.05),
    0px 0px 32px 0px rgba(68, 83, 113, 0.1);
}

.personal_information {
  font-size: 18px;
  font-weight: 800;
}

.dividing_strip {
  background: #d0d4dc;
  margin: 8px 0 8px 0;
  opacity: 0.33;
}

.input_div {
  width: 100%;
  margin-top: 8px;
  color: #353535;
  font-size: 14px;
}

.container_input{
  margin-top: 8px;
}

.div_input_radio {
  margin-top: 8px;
  display: flex;
  gap: 15px;
}

input[type="radio"] {
  margin: 0 9px 0 0;
  accent-color: #196fad;
  -ms-transform: scale(1.8);
  -webkit-transform: scale(1.8);
  transform: scale(1.8);
}

.title-add {
  padding: 24px 20px 24px 20px;
}

.container-data-form {
  padding: 0 20px 8px 20px;
}

label {
  font-size: 16px;
  font-weight: 400;
}

input {
  padding-left: 10px;
}

.label-status {
  padding-left: 5px;
  font-weight: normal;
}

.cont-status {
  padding: 0 20px 0 20px;
}

.title-add h3 {
  font-size: 22px;
}

.form_control {
  width: 100%;
  height: 46px;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #cacaca;
  background: #fff;
  appearance: none;
}

.action_buttons {
  text-align: center;
}

.buttons {
  padding: 24px 20px 24px 20px;
  float: right;
  display: flex;
}

.buttons div {
  padding-left: 12px;
}

.button_add_cancel {
  background: #fff;
  width: 93px;
  height: 44px;
  border: 1px solid #e5e6e7;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
}

.button_add {
  background: #fff;
  border: 1px solid #e5e6e7;
  width: 107px;
  height: 44px;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  display: inline-block;
}

.button_add_cancel:hover,
.button_add:hover {
  background: #196fad;
  color: #fff;
}

/* стили для select */
.select {
  position: relative;
}

.select:after {
  content: "";
  display: block;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 1;
  margin-top: -3px;
}
