@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

:root {
  --accent: #196fad;
  --white: #fff;
  --table: #eceef1;
  --table-header-text: #9ba4b4;
  --table-border: #9ba4b4;
  --table-even: #fafafa;
  --border: #d9d9d9;
  --neutral-500: #445371;
  --stage: #FAFAFA;
}

a {
  text-decoration: none;
  color: black;
}

.selected {
  border-bottom: 1px solid #196fad;
}

.form_control_employees {
  width: 100%;
  height: fit-content;
  border-radius: 8px;
  border: 1px solid #cacaca;
  background: #fff;
}

.containet_btn_add {
  margin-left: auto;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.td-icon {
  width: 70px;
}

.td-position {
  width: 500px;
}
