@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}


:root {
    --accent: #196FAD;
    --white: #FFF;
    --table: #ECEEF1;
    --table-header-text: #9BA4B4;
    --table-border: #9BA4B4;
    --table-even: #FAFAFA;
    --border: #D9D9D9;
}

a {
    text-decoration: none;
}

.selected {
    border-bottom: 1px solid #196FAD;
}


.form_control_employees{
    width: 100%;
    height: fit-content;
    border-radius: 8px;
    border: 1px solid #CACACA;
    background: #FFF;
}

.containet_btn_add {
    margin-left: auto;
}

.btn_add {
    width: 183px;
    height: 45px;
    font-size: 14px;
    border-radius: 6px;
    color: #445371;
    text-decoration: none;
    border: 2px solid rgba(68, 83, 113, 0.15);
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.00) inset;
}