.stages {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding-top: 30px;
}

.stage {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
}

.stage p {
  font-size: 20px;
}

.divTask {
  font-size: 20px;
}

.divTask p {
  font-size: 18px;
}

.containetDeletedTask {
  padding-top: 10px;
}

.deletedTask {
  width: 183px;
  height: 45px;
  font-size: 14px;
  border-radius: 6px;
  color: #445371;
  text-decoration: none;
  border: 2px solid rgba(68, 83, 113, 0.15);
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) inset;
  cursor: pointer;
}

.btn_add_stage {
  width: 183px;
  height: 45px;
  font-size: 14px;
  border-radius: 6px;
  color: #445371;
  text-decoration: none;
  border: 2px solid rgba(68, 83, 113, 0.15);
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) inset;
  cursor: pointer;
}

.containet_btn_add_task {
  padding-top: 20px;
}

.btn_add_task {
  width: 183px;
  height: 45px;
  font-size: 14px;
  border-radius: 6px;
  color: #445371;
  text-decoration: none;
  border: 2px solid rgba(68, 83, 113, 0.15);
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) inset;
  cursor: pointer;
}

.containerTaskActions {
  padding-top: 10px;
}

.selectTask {
  width: 100%;
  height: 45px;
  font-size: 14px;
  border-radius: 6px;
  color: #445371;
  text-decoration: none;
  border: 2px solid rgba(68, 83, 113, 0.15);
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) inset;
  cursor: pointer;
}

.titleStatusStage {
  display: flex;
  width: 100%;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15),
    0px 10px 13px 0px rgba(17, 38, 146, 0.05);
}

.titleStatusStage p {
  width: 100%;
  padding: 24px 20px;
  white-space: nowrap;
}

.deletedStage {
  font-size: 27px;
  cursor: pointer;
}

.div-deleted {
  padding: 24px 20px;
}

.detailStage p {
  font-size: 20px;
  padding-left: 10px;
}

.detailStage {
  display: flex;
}

.btn-add-task {
  width: 183px;
}

/* Задачи */

.task {
  padding-top: 20px;
  
}

.task_content{
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15), 0px 10px 13px 0px rgba(17, 38, 146, 0.05);
  padding: 24px 20px 24px 20px;
}

.heading {
  display: flex;
}

.title-task {
  font-size: 22px;
  font-weight: 800;
  line-height: 24px;
  padding-bottom: 12px;
  width: 100%;

}

.BsThreeDots {
  padding: 0 0 0 10px;
  cursor: pointer;
}

.div-task-description {
  padding-bottom: 10px;
}

.description-task {
  color: var(--neutral-500, #445371);
  font-size: 14px;
  font-weight: 400;
}

.date_task{
  display: flex;
  padding-bottom: 10px;
}

.date_task p{
  font-size: 15px;
}


/* Стили для боковой панели */
.info-task {
  font-size: 25px;
  padding-bottom: 30px;
}

.btn_add {
  cursor: pointer;
}

.lateral-panel {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  /* Скрытие горизонтальной прокрутки */
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1000;
  box-shadow: 4px 0px 8px 0px rgba(37, 39, 51, 0.25);
  border: 1px solid #d9d9d9;
}

/* Стили для контейнера с кнопкой закрытия */
.lateral-panel .closebtn {
  position: absolute;
  top: 0;
  font-size: 36px;
  margin-top: 20px;
  margin-left: 10px;
  cursor: pointer;
}

/* Стили для содержимого боковой панели */
.sidebar-content {
  width: 100%;
  padding: 16px;
  text-align: left;
}

/* Стили для анимации при открытии и закрытии боковой панели */
.lateral-panel.open {
  width: 350px;
}

/* Стили для кнопки открытия боковой панели */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #f1f1f1;
  border: none;
  padding: 10px 15px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}