.stages {
  display: flex;
  gap: 10px;
  padding: 16px;
  margin: 0 auto;
  overflow-y: auto;
  max-width: 1630px;
}

/* .stages::-webkit-scrollbar {
  width: 0;
  height: 0; 
} */

.stage {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  background: var(--stage);
}

.title_status_stage {
  display: flex;
  width: 374px;
}

.title_status_stage p {
  padding: 16px 20px;
  font-size: 18px;
  font-weight: 800;
  color: var(--neutral-500);
  white-space: nowrap;
}

/* Задачи */
.container_task {
  margin: 0 auto;
  padding-top: 8px;
  width: 358px;
}

.container_task_content {
  overflow-x: auto;
  max-height: 500px;
}

/* Стили для скрытия полосы прокрутки */
.container_task_content::-webkit-scrollbar {
  width: 0; 
  height: 0; 
}

.task_content {
  padding: 16px 20px;
  height: 232px;
  background: var(--white);
}

.task_content_item {
  display: flex;
}

.task_content_item_title {
  font-size: 22px;
  font-weight: 800;
  line-height: 24px;
  padding-bottom: 12px;
  width: 100%;
}

.task_content_icon {
  padding: 0 0 0 10px;
  cursor: pointer;
}

.task_content_description {
  padding-bottom: 10px;
  color: var(--neutral-500);
  font-size: 14px;
  font-weight: 400;
}

.task_content_date {
  display: flex;
  padding-bottom: 10px;
  font-size: 15px;
}

/* Стили для боковой панели */

.sidebar_heading {
  display: flex;
  padding: 24px 20px 24px 20px;
  justify-content: space-between;
  align-items: center;
}

.icon_placeholder {
  font-size: 24px;
  height: 24px;
}

/* Стили для содержимого боковой панели */
.lateral-panel {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  /* Скрытие горизонтальной прокрутки */
  transition: 0.5s;
  z-index: 1000;
  box-shadow: 4px 0px 8px 0px rgba(37, 39, 51, 0.25);
  border: 1px solid #d9d9d9;
}

/* Стили для контейнера с кнопкой закрытия */
.lateral-panel .closebtn {
  top: 0;
  cursor: pointer;
}

/* Стили для анимации при открытии и закрытии боковой панели */
.lateral-panel.open {
  width: 494px;
}

.sidebar_content {
  width: 100%;
  padding: 8px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.sidebar_content_item h4 {
  margin-bottom: 16px;
}

.sidebar_content_item ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.sidebar_footer {
  padding: 24px 20px;
  display: flex;
  justify-content: flex-end;
}

.btn_add {
  cursor: pointer;
}

.select_task {
  width: 295px;
  height: 45px;
  font-size: 14px;
  border-radius: 6px;
  color: var(--neutral-500);
  border: 2px solid rgba(68, 83, 113, 0.15);
  cursor: pointer;
}

.deleted_task {
  width: 183px;
  height: 45px;
  font-size: 14px;
  border-radius: 3px;
  color: #445371;
  text-decoration: none;
  border: 2px solid rgba(68, 83, 113, 0.15);
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) inset;
  cursor: pointer;
}

.deleted_task:hover {
  background: var(--accent);
  color: var(--white);
}
