.employee-avatar {
  display: inline-block;
}

.employee-avatar span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e9ecef;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    margin-right: -10px;
}