.menu {
  overflow: hidden;
  padding: 24px 20px 0 24px;
}

.menu li {
  display: inline-block;
  justify-content: flex-start;
  border-bottom: 1px solid var(--accent);
}

.menu li a {
  display: block;
  padding: 14px 24px;
}

.menu li.active a{
  background: var(--accent);
  color: var(--white);
  border-radius: 6px 6px 0px 0px;
}
